@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lora&family=Secular+One&display=swap');

body {
    height: 97vh;
    width: 98vw;
    background-image: url(./img/ivan-guerrero-dR7L9hHWvAI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Secular One', sans-serif;
}

input[type=search] {
    border: none;
    height: 30px;
    width: 12rem;
    border-bottom: 1px solid lightpink;
    background-color: transparent;
    color: white;
    margin-left: 1rem;
    font-size: smaller;
}

header {
    text-align: right;
    margin-bottom: -1rem;
    margin-right: 1rem;
}

h1 {
    font-size: 50px;
    margin: 0;
    color: white;
    letter-spacing: 10px;
}

h2 {
    margin-top: .3rem;
    font-weight: normal;
}

h3 {
    color: lightpink;
    font-size: xx-large;
    font-weight: 400;
    letter-spacing: 20px;
    margin: 0;
    font-family: 'Lora', serif;
}

p {
    font-size: small;
    margin-top: .5rem;
}

.space-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2rem;
}

.planet {
    border-radius: 50%;
    transform: translatey(0px);
}

.planet-0 {
    height: 30rem;
    width: 30rem;
    margin-left: -25rem;
    background-color: rgb(237, 189, 65);
    box-shadow: 0px 0px 30px rgba(58, 58, 58, 0.767) inset, 0px 0px 25px rgb(224, 186, 36);
	animation: levitate 9s ease-in-out infinite;
    z-index: 1;
}

.planet-1 {
    height: 2rem;
    width: 2rem;
    background-color: grey;
    box-shadow: 0px 0px 20px rgba(58, 58, 58, 0.767) inset, 0px 0px 10px rgb(222, 221, 221);
	animation: levitate 6s ease-in-out infinite;
}

.planet-2 {
    height: 3rem;
    width: 3rem;
    background-color: orangered;
    box-shadow: 0px 0px 30px rgba(58, 58, 58, 0.767) inset, 0px 0px 20px orangered;
	animation: levitate 8s ease-in-out infinite;
}

.planet-3 {
    height: 3rem;
    width: 3rem;
    background-color: cornflowerblue;
    box-shadow: 0px 0px 30px rgba(58, 58, 58, 0.767) inset, 0px 0px 20px cornflowerblue;
	animation: levitate 5s ease-in-out infinite;
}

.planet-4 {
    height: 2rem;
    width: 2rem;
    background-color: crimson;
    box-shadow: 0px 0px 20px rgba(58, 58, 58, 0.767) inset, 0px 0px 20px crimson;
	animation: levitate 7s ease-in-out infinite;
}

.planet-5 {
    height: 10rem;
    width: 10rem;
    background-color: darksalmon;
    box-shadow: 0px 0px 30px rgba(58, 58, 58, 0.767) inset, 0px 0px 20px darksalmon;
	animation: levitate 6s ease-in-out infinite;
}

.planet-6 {
    height: 7rem;
    width: 7rem;
    background-color: peru;
    box-shadow: 0px 0px 30px rgba(58, 58, 58, 0.767) inset, 0px 0px 20px peru;
	animation: levitate 4s ease-in-out infinite;
}

.planet-6::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12rem;
    height: 1rem; 
    border: .5rem solid rgb(180, 112, 45);
    border-top: none;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(-10deg); 
}

.planet-7 {
    height: 5rem;
    width: 5rem;
    background-color: skyblue;
    box-shadow: 0px 0px 30px rgba(58, 58, 58, 0.767) inset, 0px 0px 20px skyblue;
	animation: levitate 5s ease-in-out infinite;
}

.planet-8 {
    height: 4rem;
    width: 4rem;
    background-color: royalblue;
    box-shadow: 0px 0px 30px rgba(58, 58, 58, 0.767) inset, 0px 0px 20px royalblue;
	animation: levitate 7s ease-in-out infinite;
}

.planet:hover {
    transform: scale(1.05);
    transition: transform 1s;
    cursor: pointer;
}

.space-overlay {
    background-color: transparent;
    width: 99vw;
    height: 98%;
    position: absolute;
    z-index: 2;
    display: none;
    color: black;
    margin-top: -2rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px rgb(0, 0, 0)
}

.overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.planet-card {
    background-color: #fff;
    border-radius: 10px;
    width: 40rem;
    max-width: 100%;
    padding: 0 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgb(0, 0, 0) inset, 0px 0px 10px rgba(255, 255, 255, 0.802);
}

.divider {
    height: 1px;
    background-color: black;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.planet-card h3 {
    font-weight: 900;
    font-size: 40px;
}

.bold {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0;
}

.desc {
    font-style: italic;
}

.planet-card__info {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.close-overlay {
    margin-top: 1.5rem;
    margin-left: auto;
    border: none;
    background-color: lightpink;
    padding: 5px 10px;
    border-radius: 5px;
}

.close-overlay:hover {
    transform: scale(0.98);
    transition: transform .1s;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(114, 114, 140, 0.423) inset;
}

@keyframes levitate {
	0% {
		transform: translatey(0px);
	} 50% {
		transform: translatey(-10px);
	} 100% {
		transform: translatey(0px);
	}
}

.navigate-planets {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.navigate-btn  {
    font-size: x-large;
    border: none;
    background-color: white;
}

.navigate-btn:hover {
    background-color: pink;
    cursor: pointer;
    border-radius: 30%;
}

.spaceship {
    font-size: xx-large;
    margin-left: 2rem;
    margin-bottom: 0;
    transform: translatey(0px);
	animation: orbit 15s infinite;
    text-shadow: 0 0 10px #ffffff7b, 0 0 20px #e2608d;
}

@keyframes orbit {
	0% {
		transform: translatey(100px);
	} 20% {
		transform: translatey(-50px);
	} 40% {
		transform: translatey(60px);
	} 60% {
		transform: translatex(100px);
	} 80% {
		transform: translatey(500px);
	} 100% {
		transform: translatey(100px);
	}
}